<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <center>
        <form action="/doAdd" method="POST">
            <fieldset style="background-color: #FFFFCC">
                <legend>ADD NEW PRODUCT</legend>
                Product Name: <input type="text" name="txtPName">
                <br><br>
                Category: <input type="text" name="txtCategory">
                <br><br>
                Description: <input type="text" name="txtDescription">
                <br><br>
                Price: <input type="text" name="txtPrice">
                <br><br>
                <input type="submit" value="ADD" name="add">
            </fieldset>
        </form>
    </center>
</body>
</html>